{
  "extends": [
    "eslint:recommended",
    "standard-react",
    "plugin:react-hooks/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "react-hooks/exhaustive-deps": "off"
  }
}
